{% extends "base.html" %}
{% block body %}
{% load static %}
<div class="mail-view">
    <h4 >Recipients list: </h4>
    <ul class="email-ids">
	    {% for mails in object.recipients_list %}
		    <li>{{ mails }}</li>
		{% endfor %}
	</ul>
	<br/>
    <div class="form-row">
    <div class="col-md-1 mb-3">
	<h4 >Status: </h4>
    <p>{{ object.status }}</p>
    </div>
    <div class="col-md-0 mb-3">
	<h4>Sent on: </h4>
    <p>{{ object.send_on }}</p>
    </div>
    </div>
	<br/>
	<h3>Body: </h3>
	<p class="mailbody">{{ object.body|safe }}</p>
</div>
{% endblock %}
